<a href="https://colab.research.google.com/github/saad-ameer/Python-for-Data-Analyst/blob/main/challenge_questions_core_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge Questions - Core Python

# Instructions:
• Please ensure you don't overwrite any existing cells. Add new cells below by pressing ALT+ENTER

• Attempt all of the questions

• You are encouraged to look online for help should you need it

#

## Q1: In the cell below variable "name" generates a random name. The variable "score" generates a random score.
### • If the score is greater than or equal to 70 I want you to print:
#### f" {name} perfomed really well in the test and got a score of {score}"
### • If the score is equal to or above 50 but less than 70 print:
#### f" {name} passed the test and got a score of {score}"
### • If the score is less than 50 print:
#### f" {name} failed the test with a score of {score}"

In [1]:
# run this cell first - DO NOT OVERWRITE
import random
name = random.choice(['Meera','Ben','John','Anand'])
score = random.randint(0,100)

In [2]:
# Write your solution here
if score >= 70:
  print(f"{name} performed really well in the test and got a score of {score}")
elif score >= 50 and score <70:
  print(f"{name} passed the test and got a score of {score}")
elif score < 50:
  print(f"{name} failed the test with a score of {score}")

Anand failed the test with a score of 1

## Q2: Use indexing to return 'Ford' from the variable x below

In [3]:
# Run this cell first
x = [1,2,{'car':'Ford'},'Hello']

In [4]:
# Write your solution here
x[2]['car']

'Ford'

## Q3: Use slicing to return [2,3,4] from the variable x below

In [5]:
# Run this cell first
x = [1,2,3,(1,2,[1,2,3,4,5],3,2,1,[1,2])]

In [6]:
# Write your solution here
x[3][2][1:4]

[2, 3, 4]

## Q4: The last 3 characters in each element of the object "codes" below are 2 digit alpha codes representing a country. Extract these codes into a new list called alpha2

In [7]:
# Run this cell first
codes = ['826GBR','840USA','276DEU','818EGY','250FRA']

In [8]:
# Write your solution here
alpha2 = map(lambda x: x[-3:], codes)
print(list(alpha2))

['GBR', 'USA', 'DEU', 'EGY', 'FRA']

## Q5: Return the list names with all elements in uppercase

In [9]:
# Run this cell first
names=['Sophie', 'Mark','Susan','Jerome','Roger','Sunita','Boris','Steve']

In [10]:
# Write your solution here
print(list(map(lambda x: x.upper(), names)))

['SOPHIE', 'MARK', 'SUSAN', 'JEROME', 'ROGER', 'SUNITA', 'BORIS', 'STEVE']

## Q6:  Find a way to filter the elements of list_1 to only include integers. Assign this new list to the variable whole_numbers

In [11]:
# Run this cell first
list_1 = [1,2,3,4,'Helena',9,2.8724,4,2,'Rick',{'name':'John'}]

In [12]:
# Write your solution here
whole_numbers = list(filter(lambda x: isinstance(x, int), list_1))
print(whole_numbers)

[1, 2, 3, 4, 9, 4, 2]

## Q7: Create a function called str_tup_list, it should take one argument.
#### • If you pass in a list then it sorts and returns the elements in the list in ascending order
#### • If you pass in a tuple then it returns the length of the tuple
#### • If you pass in a string then it returns the string in uppercase
#### • For any other data types it should print 'This is not a string, tuple or list'

In [13]:
# Create your function here
def str_tup_list(x):
  if type(x) == list:
    return sorted(x)
  elif type(x) == tuple:
    return len(x)
  elif isinstance(x,str):
    return x.upper()
  else:
    print('This is not a string, tuple or list')

In [14]:
# Test your function here
list1 = [23,4,5,7,7,74,4,2]
str_tup_list(list1)

[2, 4, 4, 5, 7, 7, 23, 74]

In [15]:
tuple1 = (23,4,5,7,7,74,4,2)
str_tup_list(tuple1)

8

In [16]:
str1 = 'hello'
str_tup_list(str1)

'HELLO'

In [17]:
str2 = 23
str_tup_list(str2)

This is not a string, tuple or list

## Q8: I want you to implement a function that can take a string value as an argument and returns True if that string contains any numbers. Call this function num_check. You do not need to add control flow to check the argument.


#### Note: Research the method isnumeric() for this solution: https://docs.python.org/3/library/stdtypes.html
#### A big part of becoming a better developer is being able to look up and apply functions you haven't used before

In [18]:
# Create your function here
def num_check(x):
  for item in x:
    if item.isnumeric() == True:
      return True
  return False

In [19]:
# Test your function here
num_check("hello7")

True

## Q9: The below list contains information about a person, their age and favourite color. The information for each person is contained in a tuple.
## Filter this list so that it only contains the information for people who's favourite color is blue

In [20]:
# Run this cell first
person = [('Andrew',39,'Blue'),('Ross',48,'Red'),('Sarah',19,'Yellow'),('Meena',42,'Orange'),('Sophue',28,'Blue')]

In [21]:
# Write your solution here
list(filter(lambda x: x[2]=='Blue', person))

[('Andrew', 39, 'Blue'), ('Sophue', 28, 'Blue')]

## Bonus Question : Add Control Flow to the below Function to ensure that the user inputs an integer before advancing to the next step

In [22]:
# Modify this function, you can copy it in the cell below
def create_ranged_list():
    x = int(input('Please select a start parameter'))
    y = int(input('Please select a stop parameter'))
    z = int(input('Please select a step parameter'))
    return list(range(x,y,z))

In [35]:
# Create your function here
def create_ranged_list():
  x = ''
  y = ''
  z = ''
  while type(x)!= int:
    try:
      x = int(input('Please select a start parameter: '))
    except ValueError:
      print('Please enter an integer')
  while type(y)!= int:
    try:
      y = int(input('Please select a stop parameter: '))
    except ValueError:
      print('Please enter an integer')
  while type(z)!= int:
    try:
      z = int(input('Please select a step parameter: '))
    except ValueError:
      print('Please enter an integer')
  return list(range(x,y,z))

In [38]:
1# Test the function here
create_ranged_list()

Please select a start parameter: 10
Please select a stop parameter: 200
Please select a step parameter: 5

[10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195]